body {
  background-color: #3e4243;
  color: white;
}

header {
  width: 1000px;
  background-color: black;
  margin: auto;
}

#logo {
  margin-left: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 8em;

}

.link {
  font-size: 2em;
  color: white;
}

a:link {
  text-decoration: none;
}

header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: baseline;
}

nav {
  width: 90%;
  padding-bottom: .75em;
  font-family: 'Oswald', sans-serif;
}

main {
  display: block;
  justify-content: center;
}

#description {
  width: 55%;
  padding: 15px;
  margin: auto;
  line-height: 1.5em;
  font-size: 1.3em;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2em;
  line-height: 1.25em;
  font-size: 1.3em;
}

fieldset {
  width: 500px;
  height: 345px;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

fieldset label {
  line-height: 1.6em;
}

fieldset input {
  width: 100px;
}

fieldset button {
  width: 100px;
  align-self: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12pt;
  margin-top: 20px;
}

#container {
  width: 55%;
  padding: 15px;
  margin: auto;
  background-image: url('../img/old-paper.jpg');
  visibility: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3em;
  color: black;
}

#img {
  display: flex;
  justify-content: left;
}

img {
  max-width: 300px;
}

footer {
  margin-top: 80px
}